<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


  <test thread-count="5" name="SangitamTest">
    <classes>
        <class name="Sangitam_Maven.Sangitam.JourneyPlannerTest"></class>
       <class name="Sangitam_Maven.Sangitam.IterneryTest"></class>
    </classes>
  </test> <!-- SangitamTest -->
</suite> <!-- Suite -->
